body {
    background-color: aqua;
    font-size: 20px;
}

.Quadradinho {
    height: 50px;
    width: 50px;
    border: 25px solid;
    border-color: black blue brown chartreuse;
    color: black;
}

Quadrado {
    
}